.todo-item {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgba(221, 225, 221, 0.709);
    padding-left: 10px;
    margin: 10px 0px;
    height: 40px;
  }
  
  .todo-item .hide {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .todo-item:hover .hide {
    opacity: 1;
  }
  